
<h1>ROOT PAGE</h1>

<div>
  Visitor：
  <%= link_to 'BMI', bmi_path, class: "btn btn-default btn-warning" %>
</div>
<div style="padding-top:15px">
  Member：
  <%= link_to 'User', users_path, class: "btn btn-default btn-warning" %>
  <%= link_to 'Post', posts_path, class: "btn btn-default btn-warning" %>
  <%= link_to 'Candidates', candidates_path, class: "btn btn-default btn-warning" %>
  <%= link_to 'Product', products_path, class: "btn btn-default btn-warning" %>
  <%= link_to 'Mailpage', mailpages_path, class: "btn btn-default btn-warning" %>
</div>
